# Copyright (c) 2025 Marcin Bober
# SPDX-License-Identifier: Apache-2.0

menuconfig MT6701
	bool "MT6701 Differential Hall magnetic angle encoder"
	default y
	depends on DT_HAS_MT6701_ENABLED
	select SPI
	help
	  Enable driver for MT6701 Differential Hall magnetic angle encoder.
